/* Import a custom font from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #d9cca4;
  overflow-x: hidden;
}
html {
  background-color: #d9cca4;
  width: 100%;
}
section {
  width: 100%;
}
/* Define some variables for colors and fonts */
:root {
  --primary-color: #d9cca4;
  --secondary-color: #070708;
  --tertiary-color: #e9ecef;
  --font-family: "Roboto Slab", serif;
}

.landing-page {
  font-family: var(--font-family);
  color: #212529;
}

/* Style the hero section */
.hero {
  /* position: relative; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../public/mower_1.webp");
  background-size: cover;
}
.hero p {
  font-size: 24px;
  color: var(--primary-color);
  z-index: 1;
  font-weight: bold;
}
.hero h1 {
  font-size: 48px;
  z-index: 1;
  max-width: fit-content;
  display: inline;
  color: #fff;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgb(0 0 0);
}
.hero p {
  font-size: 1.5rem;
  color: #fff;
  max-width: fit-content;
  display: inline;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgb(0 0 0);
}
/* div section{background-color:blue!important;} */
/* .hero-container { */
/* position: absolute; */
/* overflow: hidden; */
/* } */

/* .hero img {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: fill; */
/* border-radius: 30px; */
/* margin-top: 8vh; */
/* border: solid 6px #5b8155; */
/* } */

.hero-overlay {
  position: relative;
  z-index: 1;
  width: 60vw;
  max-width: 1200px;
  text-align: center;
  border-radius: 30px;
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-subtitle {
  margin-bottom: 2rem;
  animation: fadeInUp 1s ease-out;
}

.hero-image-mobile {
  display: none;
}

/* Style the call to action button */
.cta-button {
  transition: transform 0.3s, background-color 0.3s;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  background: #d9cca4;
  cursor: pointer;
  transition: transform 0.3s;
  margin-bottom: 1vh;
}

/* Add a hover effect to the button */
.cta-button:hover {
  transform: scale(1.1);
  background-color: #ffc107; /* Change to your preferred hover color */
}
.cta-button a {
  text-decoration: none;
  color: #000;
}

/* Style the section title */
.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

/* Style the before-after container */

.before-after p {
  font-weight: 900;
  font-size: 1.2rem;
  text-align: center;
}

.transformation {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
  background: #d9cca4;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}
/* .before-after-container {
  max-width: 800px;
  margin: 0 auto;
} */
.before-after-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 800px; /* Adjusted max-width for responsiveness */
  margin: 0 auto;
  /* background-color: #d9cca4; */
  padding: 50px;
  /* border-radius: 20px; */
}

/* background-image: repeating-linear-gradient(300deg, #d9cca4, #ececec 6%) */

.before-after p {
  font-weight: 900;
  font-size: 1.2rem;
  text-align: center;
}

.before-image,
.after-image {
  cursor: pointer;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #222;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  transition: opacity 0.5s;
  }

.overlay-text {
  color: #fff;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  max-width: 500px;
  border: solid 4px #5b8155;
}

.image-container:hover .before-image,
.image-container:hover .after-image {
  transform: scale(1.15);
}

.animate-slide-in {
  opacity: 0;
  transform: translateY(20px);
  animation: slide-in 0.8s forwards;
}

.animate-fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.gallery {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: #5b8155;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gallery-wrapper {
  position: relative;
}

.image-wrapper {
  position: relative;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.gallery-image {
  width: 60vw;
  height: 70vh;
  object-fit: cover;
  border-radius: 30px;
  position: relative; /* Make room for the pseudo-element */
  border: solid 4px #d9cca4;
}



.testimonials {
  padding-top: 1rem;
  padding-bottom: 4rem;
    background-color: #5b8155;
  text-align: center;
}

/* .testimonials h2 {
  margin-bottom: 30px;
  font-size: 2em;
  color: #222;
} */

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.testimonial {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  position: relative;
}

.testimonial:before {
  content: '"';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #d9cca4;
  border-top-left-radius: 8px;
  border: 1px solid #666;
}

.testimonial:after {
  content: '"';
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #d9cca4;
  border-bottom-right-radius: 8px;
  border: 1px solid #666;
}

.testimonial:hover {
  transform: translateY(-5px);
}

.testimonial-quote {
  font-style: italic;
  margin-bottom: 20px;
}

.testimonial-info {
  font-size: 14px;
  color: #666;
}

.testimonial-name {
  font-weight: bold;
}

.testimonial-location {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .testimonial-container {
    grid-template-columns: 1fr;
  }
 
}
@media (min-width:768px) and (max-width: 900px) {
.nav-item {
font-size: small;}
}

.nav-button {
  font-weight: 900;
  position: absolute;
  top: 50%;
  /* background: none; */
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: #d9cca4;
  color: #5b8155;
  border-radius: 150px;
}

.nav-button:hover {
  background-color:#ffc107;
}

.next-button {
  right: -18%;
}

.prev-button {
  left: -18%;
}

/* Style the contact section */
.contact {
  padding-top: 1rem;
  padding-bottom: 4rem;

  background: #d9cca4;
  /* height: 75vh; */
}

/* Style the contact form */
.contact-form {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact button {
  width: 150px;
  align-self: center;
  background-color: #5b8155;
}
.contact input,
.contact textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.input-field,
.textarea-field {
  padding: 0.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.25rem;
  font-family: var(--font-family);
  font-size: 1rem;
}

.textarea-field {
  grid-column: span 2;
  height: 200px;
  resize: none;
}

.input-field:focus,
.textarea-field:focus {
  outline: none;
  border-color: var(--secondary-color);
}

/* Style the Services Section */
.services {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background: #d9cca4;
}

/* Style the Services List */
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
}

.service-item {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.05),
    1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.15), 1px 1px 64px rgba(0, 0, 0, 0.15);

  width: 35%;
  /* margin: 1rem 0; */
  padding: 1.5em 0;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #222;
}

.service-item p {
  font-size: 1.2rem;
  color: #5b8155;
}

/* Style the Contact Info */
.contact-info {
  font-size: 1rem;
  color: #222;
  margin-left: 1%;
  padding: 10px;
  margin: 0;
  background-color: #5b8155;
}
.contact-info a {
  color: #d9cca4;
  text-decoration: none;
  transition: font-weight 0.3s ease;
}
.contact-info a:hover {
  /* font-weight: bold; */
  color: #ffc107;
}

#submit_message {
  text-align: center;
  font-size: larger;
  padding: 20px;
  background-color: #5b8155;
  color: #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

#submit_message:hover {
  background-color: #fff;
  color: #5b8155;
}
/* General styling */
body {
  font-family: Arial, sans-serif;
}

/* Styling for the fire-hazard section */
.fire-hazard {
  background-color: #d9cca4;
  /* padding: 50px 0; */
  padding-bottom: 4rem;
  padding-top: 1rem;
}

.section-title {
  text-align: center;
  color: #222;
  font-size: 2em;
  /* margin-bottom: 50px; */
}

/* Styling for the fire-hazard list */
.fire-hazard-list {
  display: flex;
  flex-wrap: wrap;
  /* padding: 10px; */
  justify-content: space-around;
}

.fire-hazard-item {
  flex: 0 0 calc(50% - 50px);
  margin: 10px;
}

/* Styling for the card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #5b8155;
  color: #222;
  height: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* 
.card-header {
  font-size: 1.3rem;
  background-color: #ececec;
  padding: 10px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */

.card-content {
  font-size: 1.3rem;
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
}

.card-content p {
  font-size: 1.2rem;
  line-height: 1.6;
}
.card-content p span {
  font-size: larger;
  color: #ffc107;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d9cca4;
  position: fixed;
  z-index: 2;
  width: 100%;
}
.logo {
  margin-left: 5px;
  color: #fff;
  padding: 3px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 1rem;
}

.nav-item a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: larger;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #5b8155;
}

.nav-item.active a {
  color: #5b8155;
}
.navbar.green-background {
  background-color: #5b8155;
}
.navbar.green-background .bar {
  background-color: #ddd;
}
.navbar.green-background .menu-toggle {
  color: #ddd;
}
.navbar.green-background a {
  color: #eee;
}
.navbar.green-background .active a {
  color: #ffc107;
}
.navbar.green-background a:hover {
  color: #ffc107;
}

.social-links {
  position: fixed;
  top: 25%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  /* background-color: #fff; */
  border-radius: 5px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  z-index: 1000;
}

.social-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* color: #333; */
  outline: 3px solid #d9cca4; /* Adjust color and width */
  border-radius: 300px;
  transition: all 0.1s ease;
}
.social-link.bright-outline {
  outline: 3px solid #5b8155; /* Adjust thickness as needed */
}

.social-link:hover {
  outline:  3px solid #ffc107;/* Adjust color and width */
  border-radius: 300px;
  /* border-color: #ffc107; */
}

.social-link img {
  width: 30px; /* Set the width of the image */
  height: 30px; /* Set the height of the image */
}

@media only screen and (max-width: 768px) {
  .hero-subtitle,
  .hero-title {
    animation: none;
  }
  .hero-image {
    display: none;
  }

  .hero-image-mobile {
    display: block;
  }
  .hero img {
    height: 70vh;
  }
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    display: none;
  }

  .nav-item {
    display: block;
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: block;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: #222;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #222;
    margin: 5px 0;
  }

  .menu-toggle::before {
    font-size: 20px;
    line-height: 1;
    display: inline-block;
  }

  .menu-open .nav-list {
    display: block;
  }
  .gallery-image {
    height: 50vh;
  }
  .service-item p{
    font-size: 1rem ;
  }
}

@media screen and (max-width: 450px) {
  .nav-item {
    font-size: 90%;
  }

  #small-img {
    object-position: bottom;
  }

  .image-grid {
    grid-template-columns: none;
  }
  .gWJfyP,
  .accessibility {
    font-size: small;
  }
  * {
    font-size: 98%;
  }
  .before-after p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
  }

  .service-item h3 {
    font-size: 1.5rem;
  }
  .fire-hazard-item {
    flex: 0 0 calc(50% + 100px);
  }
 
}
