/* Import a custom font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
 background-color: #d9cca4;
 overflow-x: hidden;
}
html{
  background-color: #d9cca4!important;
}


/* Define some variables for colors and fonts */
:root {
  --primary-color: #d9cca4;
  --secondary-color: #070708;
  --tertiary-color: #e9ecef;
  --font-family: 'Roboto Slab', serif;
}

/* Apply a global style to the landing page */
.landing-page {
  font-family: var(--font-family);
  color: #212529;
}

/* Style the hero section */

.hero {
  
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.hero p {
  font-size: 24px;
  color: var(--primary-color);
  z-index: 1;
  font-weight: bold;
}
.hero h1 {
  font-size: 48px;
  z-index: 1;
  max-width: fit-content;
  display: inline;
  background-color: #10100e98;
  color: #fff;
  font-weight: 600;

}

.hero-container {
  position: absolute;
  overflow: hidden;
}

.hero img {
  position: relative;
  width:70vw;
  height: 80vh;
  object-fit: cover;
border-radius: 30px;
margin-top: 8vh;
border: solid 6px #5b8155;
}



/* Add a linear gradient overlay to the hero section */
.hero-overlay {
  position: relative;
  z-index: 1;
  width: 60vw;
  max-width: 1200px;
  text-align: center;
  border-radius: 30px;

}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-subtitle {
  margin-bottom: 2rem;
  animation: fadeInUp 1s ease-out;
}
.hero p{
  font-size:1.5rem;
  background-color: #10100e98;
  color: #fff;
  max-width: fit-content;
  display: inline;
  font-weight: 500;
}

/* Style the call to action button */
.cta-button {
  transition: transform 0.3s, background-color 0.3s;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  background: var(--primary-color);
  cursor: pointer;
  transition: transform 0.3s;
  margin-bottom:1vh;
}

/* Add a hover effect to the button */
.cta-button:hover {
  transform: scale(1.1);
  background-color: #ffc107; /* Change to your preferred hover color */
}
.cta-button a {text-decoration: none;
  color: #000;
}
/* Style the transformation section */
.transformation {
  padding: 4rem 2rem;
  background:#d9cca4 ;
}

/* Style the section title */
.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

/* Style the before-after container */
.before-after-container {
  max-width: 800px;
  margin: 0 auto;
}
.before-after p {
font-weight: 900;
font-size: large;
text-align: center;
}

/* Style the before and after images */
.transformation {
  text-align: center;
  padding: 4rem 2rem;
  background: #d9cca4;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.before-after-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 800px; /* Adjusted max-width for responsiveness */
  margin: 0 auto;
  cursor: pointer;
  background-color: #000;
  padding: 50px;
  background-image: repeating-linear-gradient(300deg, #d9cca4,  #fff 6%);

}

.before-after p {
  font-weight: 900;
  font-size: large;
  text-align: center;
}

.before-image,
.after-image {
  width: calc(50% - 5px); /* 50% width with a little gap between images */
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: solid 2px #5b8155;
}

.transformation {
  text-align: center;
  padding: 80px 0;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #333;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  transition: opacity 0.5s;
}

.overlay-text {
  color: #fff;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  max-width: 500px;
}

.before-image,
.after-image {
  width: 100%; /* Ensuring responsiveness */
  border: 2px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
  
}

.image-container:hover .before-image,
.image-container:hover .after-image {
  transform: scale(1.1);
}

.animate-slide-in {
  opacity: 0;
  transform: translateY(20px);
  animation: slide-in 0.8s forwards;
}

.animate-fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

/* Style the gallery section */
.gallery {
  padding: 4rem 2rem;
  background-color: #5b8155;
}

/* Style the image grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

/* Style the gallery images */
.gallery-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
  border: solid 2px #000;
  object-position: left;

}

/* Style the contact section */
.contact {
  padding: 4rem 2rem;
  background: #d9cca4;
  height: 75vh;
}

/* Style the contact form */
.contact-form {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

.contact button {
  width: 150px;
  align-self: center;
  background-color: #5b8155;
}
.contact input, 
.contact textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}


/* Style the input and textarea fields */
.input-field, .textarea-field {
  padding: 0.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.25rem;
  font-family: var(--font-family);
  font-size: 1rem;
}

/* Style the textarea field to span two columns */
.textarea-field {
  grid-column: span 2;
  height: 200px;
  resize: none;
}

/* Add a focus effect to the input and textarea fields */
.input-field:focus, .textarea-field:focus {
  outline: none;
  border-color: var(--secondary-color);
}

/* Additional styles for new content and enhancements */

/* Style the Services Section */
.services {
  padding: 4rem 2rem;
  background: #5b8155;
}

/* Style the Services List */
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service-item {
  width: 45%;
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.service-item p {
  font-size: 1.2rem;
  color: #ccc;
}

/* Style the Contact Info */
.contact-info {
  font-size: 1rem;
  color: #fff;
  margin-left: 1%; 
  padding: 10px;
  margin: 0;
  background-color: #5b8155;
  
}
.contact-info a {
color:black;
}
.contact-info a:hover {
  color:#ffc107;}

#submit_message {
  text-align: center;
  font-size: larger;
  padding: 20px;
  background-color: #5b8155; /* Green background color */
  color: #ddd; /* White text color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
width: fit-content;
  /* Centering the element */
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}


#submit_message:hover {
  background-color: #fff; /* Darker green on hover */
color: #5b8155;
}


/* Improve overall layout and spacing */
/* Add these styles at the end of your existing CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 2rem; */
  background: #5b8155;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.logo {
  margin-left: 5px;
  /* font-size: 1.5rem; */
  color: #fff;
  padding: 3px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 1rem;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: larger;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #ffc107;
}

.nav-item.active a {
  color: #ffc107; /* Change the color as desired for the active state */
  /* Add any other styling you want for the active state */
}
.navbar.contact-services-background {
  background-color: #d9cca4;
  /* Add any other styles you want for the background color */
}
 .navbar.contact-services-background .bar {
 background-color: black;
  /* Add any other styles you want for the background color */
}
.navbar.contact-services-background .menu-toggle {
  color: black;
   /* Add any other styles you want for the background color */
 }
.navbar.contact-services-background a {
  color: #333;
}
.navbar.contact-services-background .active a {
  color: #5b8155; /* Change the color as desired for the active state */
}
.navbar.contact-services-background a:hover {
  color: #5b8155; /* Change the color as desired for the active state */
}
@media only screen and (max-width: 768px) {
   .hero-subtitle ,.hero-title    {
  animation: none;
}
}

@media screen and (max-width: 650px) {
  .navbar {
    flex-direction: row; /* Change back to row for logo on left and menu on right */
    justify-content: space-between; /* Space out logo and menu on opposite ends */
    align-items: center;
  }

  .nav-list {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    display: none; /* Initially hide the menu */
  }

  .nav-item {
    display: block;
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: block;
    margin-right: 10px;
    margin-top: 10px;
    /* margin-top: 20px; */
    cursor: pointer;
    color: #fff; /* Add a color for better visibility */
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff; /* Add a color for better visibility */
    margin: 5px 0;
  }

  .menu-toggle::before {
    font-size: 20px; /* Adjust size as needed */
    line-height: 1;
    display: inline-block;
  }

  /* Styles for the menu when it's open */
  .menu-open .nav-list {
    display: block; /* Show the menu */
  }
}
@media screen and (max-width: 450px) {
  .gallery-image{
object-position: left;
  }
  #small-img
  {
    object-position: bottom;  }

  .image-grid{grid-template-columns:none;}
  .gWJfyP, .fNicyq{
    font-size: small;
  }
*{
  font-size: 92%;
}
.nav-item
{
  font-size: larger;
}
}

